* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;

}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        max-height: auto;
        margin: 0 auto;
    }

}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49d0b0;
}

.pokemon .number {
    color: #000;
    text-align: right;
    opacity: .3;
}

.pokemon .name {
    color: #fff;
    margin: .25rem 0;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.pokemon .detail .types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-size: .625rem;
}



.pokemon .detail img {
    max-width: 100%;
    height: 90px;


}